<h1> 404 </h1>

If you see this page it means that either your request was just <br>
plain wrong (url like /Nyastya), or you made an error with an <br>
id of an object (like /scientists/228 instead of /scientists/666) <br><br>

<%= link_to 'To index page', :root %>